/* For overflow */

body {
    overflow: hidden;
}

/*
  ========================================
  Stars
  ========================================
*/

.gold-star {
  color: gold;
}

.clear-star {
  color: #bbb;
}

/*
  ========================================
  Corner Ribbon
  ========================================
*/

.ribbon-box {
  position: absolute;
  top: 30px;
}

.ribbon-box.left {
  left: -45px;
  transform: rotate(-45deg);
}

.ribbon-box.right {
  right: -45px;
  transform: rotate(45deg);
}

.ribbon {
  font-family: 'Gudea', sans-serif;
  text-align: center;
  color: white;

  width: 200px;
  padding-top: 2px;
  padding-bottom: 2px;

  pointer-events: all;
}

.ribbon.red {
  background-color: red;
}

.ribbon.green {
  background-color: #009B00;
}

.ribbon-content {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;

  padding-top: 5px;
  padding-bottom: 5px;
}

/*
  ========================================
  Generic Tab Menu
  ========================================
*/

.tab-menu {
  text-align: right;
  margin-right: 85px;
}

.tab-menu li {
  background: #008895;

  display: inline-block;
  margin: 0 1px;
}

.tab-menu a {
  text-decoration: none;
  color: #fff;

  display: block;
  padding: 10px;
}

.tab-menu li:hover {
  background: #ebaf3c;
}

.tab-menu li:first-child {
  border-radius: 10px 0 0 0;
}

.tab-menu .active {
  background: #fff;
  font-weight: 600;

  border: 1px solid #B3B3B3;
}

.tab-menu .active a {
  color: #555;
}
